In [21]:
import pandas as pd

## Coleta de dados

A base de dados tem várias tabelas diferentes relacionados a mortalidade, vivência de pessoas com doença de parkinson com anos dos estudos e localidade.

Neste notebook será realizado apena a junção das batabases iniciais e união para o dataset final.

In [22]:
df_death = pd.read_csv('death-rate-from-parkinsons-disease-ghe.csv')
df_death

,Entity,Code,Year,"Death rate per 100,000 people - Cause: Parkinson disease - Sex: Both sexes - Age_group: ALLAges"
0,Afghanistan,AFG,2000,1.45
1,Afghanistan,AFG,2001,1.49
2,Afghanistan,AFG,2002,1.50
3,Afghanistan,AFG,2003,1.49
4,Afghanistan,AFG,2004,1.49
...,...,...,...,...
3795,Zimbabwe,ZWE,2015,1.53
3796,Zimbabwe,ZWE,2016,1.55
3797,Zimbabwe,ZWE,2017,1.55
3798,Zimbabwe,ZWE,2018,1.55
3799,Zimbabwe,ZWE,2019,1.55

In [23]:
df_disease = pd.read_csv('parkinsons-disease-prevalence.csv')
df_disease

,Entity,Code,Year,"Current number of cases of parkinson's disease per 100,000 people, in both sexes aged age-standardized"
0,Afghanistan,AFG,1990,71.658936
1,Afghanistan,AFG,1991,71.151660
2,Afghanistan,AFG,1992,70.656140
3,Afghanistan,AFG,1993,70.176950
4,Afghanistan,AFG,1994,69.728325
...,...,...,...,...
6775,Zimbabwe,ZWE,2015,59.060856
6776,Zimbabwe,ZWE,2016,59.267612
6777,Zimbabwe,ZWE,2017,59.533460
6778,Zimbabwe,ZWE,2018,61.035420
6779,Zimbabwe,ZWE,2019,63.994980

## Unindo o dataset
Para a análise proposta, irei utilizar a coluna 'Year''

In [24]:
df_final = pd.merge(df_death,df_disease, on='Year')
df_final

,Entity_x,Code_x,Year,"Death rate per 100,000 people - Cause: Parkinson disease - Sex: Both sexes - Age_group: ALLAges",Entity_y,Code_y,"Current number of cases of parkinson's disease per 100,000 people, in both sexes aged age-standardized"
0,Afghanistan,AFG,2000,1.45,Afghanistan,AFG,66.907230
1,Afghanistan,AFG,2000,1.45,African Region (WHO),NaN,61.077785
2,Afghanistan,AFG,2000,1.45,Albania,ALB,92.823524
3,Afghanistan,AFG,2000,1.45,Algeria,DZA,72.335106
4,Afghanistan,AFG,2000,1.45,American Samoa,ASM,143.764980
...,...,...,...,...,...,...,...
858795,Zimbabwe,ZWE,2019,1.55,Western Pacific Region (WHO),NaN,130.563100
858796,Zimbabwe,ZWE,2019,1.55,World,OWID_WRL,106.280240
858797,Zimbabwe,ZWE,2019,1.55,Yemen,YEM,63.598320
858798,Zimbabwe,ZWE,2019,1.55,Zambia,ZMB,61.456432
858799,Zimbabwe,ZWE,2019,1.55,Zimbabwe,ZWE,63.994980

## Esportando a base final unificada

In [25]:
df_final.to_csv('base_unificada_parkinson.csv', index=False)